body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    height: 8%;
    background-color: #990000;
}

.title {
    height: 20%;
    background-color: #794044;
}

.image-title {
    margin: 0 auto;
    width: 55%;
    height: 100%;
    background-color: #b6fcd5;
}

.content {
    height: 40%;
}

.content-wrap {
    margin: 0 auto;
    width: 55%;
    height: 100%;
}

.content-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    background-color: #c0c0c0;
}

.child-1 {
    flex-grow: 1;
    background-color: #cfe2f3;
}

.child-2 {
    flex-grow: 1;
    background-color: #9fc5e8;
}

.child-3 {
    flex-grow: 1;
    background-color: #6fa8dc;
}

.child-4 {
    flex-grow: 1;
    background-color: #3d85c6;
}

.content-2 {
    width: 100%;
    height: 50%;
    background-color: #f5f5dc;
}

.footer {
    flex-grow: 1;
    background-color: #990000;
}

.footer-wrap {
    margin: 0 auto;
    width: 55%;
    height: 100%;
}

.footer-desc {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
}

.footer-1 {
    flex-grow: 1;
    background-color: #d9d2e9;
}

.footer-2 {
    flex-grow: 1;
    background-color: #b4a7d6;
}

.footer-3 {
    flex-grow: 1;
    background-color: #8e7cc3;
}

.footer-4 {
    flex-grow: 1;
    background-color: #674ea7;
}

.footer-5 {
    flex-grow: 1;
    background-color: #351c75;
}

.footer-6 {
    flex-grow: 1;
    background-color: #20124d;
}

.footer-info {
    width: 100%;
    height: 35%;
    background-color: #d5a6bd;
}
.sub-footer {
    height: 2%;
    background-color: #808080;
}

.sub-footer-wrap {
    margin: 0 auto;
    width: 55%;
    height: 100%;
    background-color: #daa520;
}
